
h1{
  color: rgb(237,237,237);
  background-color: rgb(91,188,172);
  margin:0px;
  position: relative;
  padding: 20px;
  padding-left: 40px;
  font-size:80px;
  font-family:'oswald',sans-serif;
}
h2{
  color:rgb(237,237,237);
  font-size:40px;
  font-family:'roboto',sans-serif;
  background-color: rgb(91,188,172);
  padding: 10px;
}
h3{
  color:rgb(66,67,68);
  font-family: sans-serif;
  font-size: 20px;
}
footer{
  background-color: rgb(91,188,172);
  position: relative;
  padding: 20px;
  bottom:1400px;
  font-family: sans-serif;
}
li{
  color:rgb(66,67,68);
  font-family: sans-serif;
}
tr{
  color:rgb(66,67,68);
  font-family: sans-serif;
}
p{color:rgb(66,67,68);
font-family: sans-serif;
}

table, th, td{
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}
a{
  color:rgb(164,224,221);
  font-family: sans-serif;
}
a:visited{
  color:rgb(66,67,68);
}

a:hover{
  color:rgb(91,188,172);
}

a:active{
  color:rgb(19,20,20)
}
#climate{
  background-color: rgb(237,237,237);
  height:210px;
  width:220px;
  padding: 20px;
  position: relative;
  left:90px;
}
#land-use{
  background-color: rgb(237,237,237);
  height:210px;
  width:220px;
  padding: 20px;
  position: relative;
  left:450px;
  bottom:250px;
  overflow: scroll;
}

#land-table{
  position: relative;
  right:10px;

}
#natural-resources{
  background-color: rgb(237,237,237);
  height:210px;
  width:220px;
  padding: 20px;
  position: relative;
  bottom:499px;
  left:800px;
  overflow: scroll;

}
#Agriculture{
  background-color: rgb(237,237,237);
  height:210px;
  width:220px;
  padding: 20px;
  position: relative;
  bottom:650px;
  left:85px;

}
#Labor-Force{
  background-color: rgb(237,237,237);
  height:210px;
  width:220px;
  padding: 20px;
  position: relative;
  bottom:1150px;
  left: 800px;
  overflow: scroll;
}
#Industries{
  background-color: rgb(237,237,237);
  height:210px;
  width:220px;
  padding: 20px;
  position: relative;
  bottom: 898px;
  left:450px;
}

#introduction{
  background-color: rgb(237,237,237);
  height: 300px;
  width:700px;
  position: relative;
  left:210px;
  top:20px;
  margin-bottom: 80px;
}
#paragraph-one{
  background-color:rgb(91,188,172);
  max-width: 50%;
  position: relative;
  left:18px;
  bottom: 245px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 15px;
  color:rgb(66,67,68);

}
#paragraph-two{
  background-color:rgb(91,188,172);
  max-width: 50%;
  position: relative;
  left:18px;
  bottom: 245px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 15px;
  color:rgb(66,67,68);
}
#tree-photo{
  max-width: 38%;
  position: relative;
  left:410px;
  top: -25px;
  border-radius: 80%;
}
#economy-title{
  position: relative;
  bottom: 500px;
}
#dollar-photo{
  max-width: 20%;
  position: relative;
  left:427px;
  bottom: 200px;
}
#dollar-caption{
  position: relative;
  left:427px;
  bottom:200px;
}

.grid-container{
  display: grid;
  grid-row-gap:0px;
  grid-column-gap: 0px;
}

#energy-title{
  position: relative;
  bottom:960px;
}
#production{
  background-color: rgb(237,237,237);
  height:210px;
  width:220px;
  padding: 20px;
  position: relative;
  overflow-x: scroll;
  bottom: 960px;
  left: 60px;
}
#consumption{
  background-color: rgb(237,237,237);
  height:210px;
  width:220px;
  padding: 20px;
  position: relative;
  overflow-x: scroll;
  bottom: 1210px;
  left:432px;

}
#exports{
  background-color: rgb(237,237,237);
  height:210px;
  width:220px;
  padding: 20px;
  position: relative;
  overflow-x: scroll;
  bottom: 1460px;
  left:802px;
}
